*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 640px){
  .cardContainers{
    display: block;
    /* width: 100%; */
  }
}

@media screen and (min-width: 900px){
  .cardContainers{
    width: 33.33333%;
  }
}


.cardContent {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.cardContent .cardContent-overlay {
  background: rgb(255, 87, 34);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.cardContent:hover .cardContent-overlay{
  opacity: 1;
}
.talentName{
    color: #fff;
}
.talentName:hover{
    color: rgb(255, 87, 34);
}
.cardContent-image{
  width: 100%;
}

.cardContent-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.cardContent:hover .cardContent-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}



.cardContent-details p{
  color: #fff;
  font-size: 0.8em;
}


.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

